# Aktifkan mod_rewrite
RewriteEngine On
RewriteBase /

# Redirect halaman utama ke home.php
RewriteRule ^$ home.php [L]

# Hapus ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]